// Custom.scss

$redcolor: #eb4d5c;
$green: #52b987;
$grey: black;
//$grey: #5a6569;
$textcolor: black;
//$textcolor: #cecece;
$bordercolor: #354e6a;


// Option A: Include all of Bootstrap
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
// includes
@import "includes/header";
@import "includes/overwrites";
@import "includes/widget";


/*
#04202C
#304040
#5B7065
#C9D1C8
 */


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;

  background: rgba(19,23,35,1);
  background: -moz-linear-gradient(-45deg, rgba(19,23,35,1) 0%, rgba(19,23,35,1) 37%, rgba(27,26,82,1) 82%, rgba(24,32,85,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(19,23,35,1) 0%, rgba(19,23,35,1) 37%, rgba(27,26,82,1) 82%, rgba(24,32,85,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(19,23,35,1) 0%, rgba(19,23,35,1) 37%, rgba(27,26,82,1) 82%, rgba(24,32,85,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(19,23,35,1) 0%, rgba(19,23,35,1) 37%, rgba(27,26,82,1) 82%, rgba(24,32,85,1) 100%);
  background: linear-gradient(135deg, rgba(19,23,35,1) 0%, rgba(19,23,35,1) 37%, rgba(27,26,82,1) 82%, rgba(24,32,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131723', endColorstr='#182055', GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;

  color:white;
  height: 100%; /* force the BODY element to match the height of the HTML element */
  position: relative;
  //box-shadow: inset 8px 8px 200px -16px #7509985c;

}

html {
  height: 100%; /* make sure it is at least as tall as the viewport */
}

.container {
  max-width: 100%;
}

.container-flush {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

#wrap {
  height: 100%;
  width: 100%;

}

span {
  //color: $textcolor;
}

.positive {
  color: $green;
}

.negative {
  color: $redcolor;
}

.posneg {
  color: $redcolor;
}

.heatmap .heatmap-cell-content {

}

.heatmap .heatmap-posneg {
  color: $green;
}

.heatmap .heatmap-negative {
  color: $redcolor;
}

.trades ul {
  height: 350px;
  width: 33%;
}

.trades ul {
  overflow: hidden;
  overflow-y: scroll;
}

.scrollarea {
  //overflow: hidden;
  //background-color: rgba(48, 64, 64, 0.2);
  color: $textcolor;
  position: relative;
  height: auto;
  //box-shadow: inset 8px 8px 200px -16px #7509985c;
}

.trades-btc .trade-item span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}

/*
trades
 */
.tradehistory{
  color:white;
}
.scrollme {
  color: #957098;

  overflow: hidden;
  //overflow-y: scroll;
  height: 100%;
  min-height: 30%;
  width: 100%;
 // position: absolute;
  // margin-left: 15px;
}
.trades {
  margin: 0 auto;
  position: relative;
}
.trade-item {
}


.trade-item:first-child {
  position: relative;
}

.trades-negative {
  background-color: $redcolor;
  opacity: 0;

}

.trades-positive {
}

.trade-item {
  text-align: center;
  border-bottom: 1px dashed #3b2659b8;
  .trade-col1 {
    width: 25%;
  }
  .trade-col2 {
    width: 25%;
  }
  .trade-col3 {
    width: 25%;

  }
  .timestamp {
    color: transparent;
    width: 25%;
  }

}

.updown {
  width: 100%;
  background-color: rgb(3, 147, 60);
}

.clearfix {
  float: none;
  clear: both;
}

.fa-blank {
  visibility: hidden !important;
}

.title {
  position: relative;
  /* height: 50px; */
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding: 25px;
  padding-bottom: 15px;
}

.filters {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;

  .tablename {
    width: 25%;
  }

  input {
    font-size: 13px;
    width: 55px;
    text-align: left;
    // margin-left: 10px;
    background: #150d2700;
    //color: $textcolor;
    color:white;
    border: 0;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
  }
  .column {
    /* height: 2em; */
    float: left;
    width: 25%;
    /* padding: 1%; */
    /* margin: 0 1%; */
  }

  .div-table-col {
    text-align: center;
    //height: 30px;
    empty-cells: show;
    float: left; /* fix for  buggy browsers */
    display: table-column;
    background-color: transparent;
  }
}

.maincontentleft {
  width: 100%;
  float: left;
  //background-color: rgba(48, 64, 64, 0.2);
  position: relative;
  height: auto;
 // box-shadow: inset 8px 8px 200px -16px #7509985c;
}

/*
orderbook
 */
.orderbook {
  width: 100%;
  float: right;
  overflow: hidden;
  // height: calc(100% - 5em);
}

.orderbook #complete {
 /*
 overflow: hidden;
position: absolute;
  height: 100%;
  width: 100%;
  */
  //overflow-y: scroll;
  padding-right:0;
  color: #957098;
  .coinamount {
  }
  .coinbarbid {
    background-color: rgba(0, 113, 0, 0.42);
    color: $green;
  }

  .coinbarbidcolor {
    color: $green;
  }

  .coinbarsell {
    background-color: rgba(189, 0, 0, 0.42);
    color: red;
    // border-right: solid 1px $bordercolor;

  }
  .coinbarsellcolor {
    color: $redcolor;

  }

}

.coinbar {
  display: block;
  height: 24px;
  position: absolute;
  //right:43%; old
  right: 33%;
  top: 0;
  max-width: 350px;
  transition: all 0.5s;

}

.updatecell {
  background-color: #7509985c;
}

.changedpos {
  color: rgba(0, 128, 0, 0.5);
}

.update {
  background-color: rgba(0, 128, 0, 0.5);
}

.updatered {
  background-color: rgba(255, 0, 2, 0.5)
}

.order-item {
  position: relative;
  overflow: hidden;
}

.order-item .order-col1 {
  float: left;
  //width: 55%; old
  text-align: right;
  width: 66%;
}

.order-item .order-col2 {
  float: left;
  width: 20%;
  text-align: center;
  // border-right: 1px solid $bordercolor; old
}

.order-item .order-col3 {
  width: 5%;
  float: left;
  text-align: center;
  color: #957098;
}

/*
.title{
  display: block;
  position: relative;
  height: 30px;
  text-align: center;
  .title-col1{
    display: inline-block;
    left: 25%;
    top: 0;
    position: absolute;

  }.title-col2{
       right: 34%;
       top: 0;
       position: absolute;
       display: inline-block;

   }
  .title-col3{
    width: 0%;
    right: 16%;
    display: inline-block;
    position: absolute;
    }
}
 */

.active {
  color: $redcolor;
  background-color: blue;
  text-align: right;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $grey;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $textcolor;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  height: 100vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.div-table {
  empty-cells: show;
  display: table;
  width: 100%;
  border-spacing: 0px; /* cellspacing:poor IE support for  this */
}

.div-table-row {
  width: auto;
  clear: both;
}

.div-table-col {
  empty-cells: show;
  float: left; /* fix for  buggy browsers */
  display: table-column;
  background-color: transparent;
}

.div-table-header-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: 200px;
  background-color: transparent;
}

#tv {
  /*
  margin-left: 3vw;
  margin-right: 5vw;
  margin: 0 auto;
  padding:4em;
   */
 // height: 40vh;
}

#close {
  border: 1px solid $grey;
  /* width: 10px; */
  background: #000;
  color: $textcolor;
  padding: 5px;
}

@media (device-width: 800px) { /* Breite entspricht genau 800 Pixel */
}

@media (min-device-width: 800px) { /* Breite beträgt mindestens 800px */
}

@media (max-device-width: 1024px) { /* Breite beträgt höchstens 1024px */
}

@media (min-device-width: 1400px) {
}

@media only screen and (min-width: 1400px) {
  .tradehistory .scrollme {
    //margin-left: 1vw;
  }
}

@media only screen and (min-width: 1400px) {
  .tradehistory .scrollme {
    //margin-left: 1vw;
  }

}

.test {
  position: absolute;
  float: left;
}
.liquidations-outer{
  overflow:hidden;
  width:100%;
}


.liquidations {
  float: right;
  height:80%;
  overflow:hidden;
  .liquidationstable{
    font-size:11px;
    width: 100%;
    margin: 1px;
  }
  td{
    padding: 0.1em;
    vertical-align: top;

    //border-bottom: 1px solid #311f4a;
   // background: #18273c7d;
  }
  .liqtime{
    width: 10%;
  }
}



.chat-outer{
  overflow:hidden;
  width:100%;
}

.chat {
  height:80%;
  //min-height: 29%;
  float: left;
  overflow:hidden;
  //overflow-y:scroll;
  // background: #3b2659b8;
  //box-shadow: inset 8px 8px 300px 31px #7509985c;
  .chattable{
    font-size:12px;
    margin: 1px;
  }
  td{
    padding: 0.20em;
    //border-bottom: 1px solid #311f4a;
    //background: #18273c7d;
  }

  .chattime{
    vertical-align: top;
    //color:$grey;
    width: 10%;
  }
  .chatmsg{
    vertical-align: top;
    //color:$textcolor;
    width: 90%;
  }
  .startchat{
    bottom:0;
  }
}

.bitfinex-wrapper {
  //margin-bottom: 15px;
  //background-color: #131723;
  //border-right: 1px solid #363c4d;
  //border-bottom: 1px solid #363c4d;

  #Bitfinex {
   // height: 100%;
    //margin-top: 2em;
    //margin-bottom: 2em;
    //position: absolute;
    padding-right: 20px;
  }
}


.trade-list{
}

.tradingview-widget-container {
  display: none;
}

.hidden{
  display:none;
}

.padding-lr{
  padding-left: 15px;
  padding-right: 15px;
}
.padding-tb{
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding{
  padding: 30px;
  padding-top: 0px;
}


.box h3{
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  //width:70%;
  //height:200px;

  background: rgba(16,24,49,1);
  background: -moz-linear-gradient(-45deg, rgba(16,24,49,1) 0%, rgba(13,9,93,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(16,24,49,1)), color-stop(100%, rgba(13,9,93,1)));
  background: -webkit-linear-gradient(-45deg, rgba(16,24,49,1) 0%, rgba(13,9,93,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(16,24,49,1) 0%, rgba(13,9,93,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(16,24,49,1) 0%, rgba(13,9,93,1) 100%);
  background: linear-gradient(135deg, rgba(16,24,49,1) 0%, rgba(13,9,93,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101831', endColorstr='#0d095d', GradientType=1 );

  margin: 15px;
 // box-shadow: 0 0 11px 0 #ffffff85, 0 0 0px 0 #ffffff85, 0 0 4px 0 #dbe4ff, 0 0 8px 0px #3b009aa3, 0 0 16px 0 #e86cff;
}


/*==================================================
 * Effect 7
 * ===============================================*/
.effect1{
  //box-shadow: 0 0 11px 0 #ffffff85, 0 0 0px 0 #ffffff85, 0 0 4px 0 #dbe4ff, 0 0 8px 0px #3b009aa3, 0 0 16px 0 #e86cff;
  /*
  box-shadow:

          inset 0 0 50px #fff,
          inset 20px 0 80px #f0f,
          inset -20px 0 80px #0ff,
          inset 20px 0 300px #f0f,
          inset -20px 0 300px #0ff,
          0 0 50px #fff,
          -10px 0 80px #f0f,
          10px 0 80px #0ff;
 */
  //box-shadow: inset 0 0 1px #ffffff4d, inset 0px 0 5px #1188bb82, 0 0 2px #fff, 0px 0px 10px #f0f, 0px 0px 5px #0ff;
  box-shadow: inset 0 0 2px 0px #ffffff8c, 0 0 1px 1px #ffffff, 0 0 2px #ffffff, 0px 0px 4px 2px #b016ff, 0px 0px 8px 2px #aa00b5, 0px 0 12px 1px #2b00ff;
}



.effect7
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}
.tv-border{
  //border:1px solid black;
}
