body {
    font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
}

table.topazCells {
    border: 4px solid #555555;
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    color: white;
    cursor: pointer;
}

table.topazCells td {
    padding: 25px 15px;
}

table.topazCells th {
    border: 1px solid #555555;
}

table.topazCells tbody td {
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #eceff2;

}

table.topazCells tfoot td {
    font-size: 13px;
}

table.topazCells tfoot .links {
    text-align: right;
}

table.topazCells tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    padding: 8px 8px;
    border-radius: 5px;
}

table.topazCells {

}


.positive {
    color: green;
}

.negative {
    color: red;
}

.posneg {
    color: red;
}

.heatmap .heatmap-cell-content {

}

.heatmap .heatmap-posneg {
    background-color: #37bc9b;
}

.heatmap .heatmap-negative {
    background-color: #ff4a68;
}

.trades ul {
    height: 350px;
    width: 33%;
}

.trades ul {
    overflow: hidden;
    overflow-y: scroll;
}



.scrollarea{
    overflow: hidden;
    overflow-y: scroll;
    background-color:black;
    color: white;
}.trades-btc .trade-item span{
     position: absolute;
     right: 0;
     width: 100%;
     height: 100%;
}

/*
trades
 */
.scrollarea .trades{
    width:500px;
    height: 350px;
}
.trade-item{
    width:100%;
    position: relative;
    text-align:center;
}.trade-item:first-child{
     position: relative;
     z-index: 1;
 }
.trades-negative{
    background-color: red;
    opacity:0;

}
.trades-positive{
}
.trade-item .trade-col1{
float:left;
    width:15%;
    z-index: 2;
    position: relative;
}.trade-item .trade-col2{
float:left;
    width:33%;
     z-index: 2;
     position: relative;

 }.trade-item .trade-col3{
float:left;
    width:33%;
      z-index: 2;
       position: relative;

   }

.updown {
    width: 100%;
    background-color: rgb(3, 147, 60);
}

.clearfix{
    float:none;
    clear:both;
}
.fa-blank
{
    visibility:hidden !important;
}
/*
orderbook
 */
.update{
    background-color: rgba(0, 128, 0, 0.5);
}
.order-item .order-col1{
    float:left;
    width:15%;
    z-index: 2;
    position: relative;
}.order-item .order-col2{
     float:left;
     width:33%;
     z-index: 2;
     position: relative;

 }
.order-item .order-col3{
      float:left;
      width:33%;
      z-index: 2;
      position: relative;

  }

.active{
    color:red;
    background-color: blue;
    text-align: right;
}