$headerheight: 56px;
$footerheight_init: 30px;
$mainheight: calc(100vh - #{$headerheight} - #{$footerheight_init});
$mainheightbelowheader: calc(100vh - #{$footerheight_init});

/*
#04202C
#304040
#5B7065
#C9D1C8
 */



header{
  color:white;
  background:red;
  position: relative;
  background-color: #fff;
  box-shadow: inset 60px 0 120px #041f2b, inset -60px 0 120px #2f3f40;

}

.footer-div{
  color:white;
  height: $footerheight_init;
  background: #0e001f;
}


