.widget-container {
  color: white;
  width: 270px;
  height: 90px;
  border: 1px solid white;
  overflow: hidden; }
  .widget-container table {
    color: white; }

div.widget-container {
  border: 2px solid #555555;
  background-color: #555555;
  width: 200px;
  height: 100px;
  text-align: center;
  border-collapse: collapse; }

.divTable.widget-container .divTableCell, .divTable.widget-container .divTableHead {
  border: 1px solid #555555;
  padding: 4px 5px; }

.divTable.widget-container .divTableBody .divTableCell {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF; }

.divTable.widget-container .divTableRow:nth-child(even) {
  background: #A43152; }

.divTable.widget-container .divTableCell:nth-child(even) {
  background: #A43152; }

.widget-container .tableFootStyle {
  font-size: 13px; }

.widget-container .tableFootStyle .links {
  text-align: right; }

.widget-container .tableFootStyle .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #A43152;
  padding: 2px 8px;
  border-radius: 5px; }

.widget-container.outerTableFooter {
  border-top: none; }

.widget-container.outerTableFooter .tableFootStyle {
  padding: 3px 5px; }

/* DivTable.com */
.divTable {
  display: table; }

.divTableRow {
  display: table-row; }

.divTableHeading {
  display: table-header-group; }

.divTableCell, .divTableHead {
  display: table-cell; }

.divTableHeading {
  display: table-header-group; }

.divTableFoot {
  display: table-footer-group; }

.divTableBody {
  display: table-row-group; }

/*# sourceMappingURL=widget.css.map */
