.widget-bar {
  width: 100%;
  //height:45px;
  text-align: center;
  //padding:15px;
  .widget-container {
    display: inline-block;
    width: 250px;
    box-sizing: border-box;
    padding-bottom: 0px;
    cursor: pointer;
    position: relative;
    .header-div {
      //background: #32002d75 none repeat scroll 0% 0%;
      font-size: 14px;
      padding: 10px;
      box-sizing: border-box;

      .DAILY_CHANGE_PERC {
        font-size: 11px;
        //color: #3d9400;
      }

      .price {
        font-weight: bold;
      }
      .pair {

      }
      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-bottom: 3px;
        border: 0;
        position: inherit;
        max-width: inherit;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        margin-right: 10px;
      }
    }

    .data-div {
      background: rgba(33,18,69,1);
      background: -moz-linear-gradient(45deg, rgba(33,18,69,1) 0%, rgba(33,18,69,1) 40%, rgba(15,65,157,1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(33,18,69,1) 0%, rgba(33,18,69,1) 40%, rgba(15,65,157,1) 100%);
      background: -o-linear-gradient(45deg, rgba(33,18,69,1) 0%, rgba(33,18,69,1) 40%, rgba(15,65,157,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(33,18,69,1) 0%, rgba(33,18,69,1) 40%, rgba(15,65,157,1) 100%);
      background: linear-gradient(45deg, rgba(33,18,69,1) 0%, rgba(33,18,69,1) 40%, rgba(15,65,157,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211245', endColorstr='#0f419d', GradientType=1 );
      font-size: 12px;
      padding: 10px 10px;
      width: 100%;
      z-index: 99;
      display:none;
      position: absolute;
      .column {
        /* height: 2em; */
        float: left;
        width: 50%;
        /* padding: 1%; */
        /* margin: 0 1%; */
      }
      .title {
        display: inline-block;
        padding:0;
        padding-right: 5px;
        font-size:1em;
        //color: #808080b0;
        border:0;
      }
      .volume {
      }
      .DAILY_CHANGE {
      }
      .HIGH {
      }
      .LOW {
      }
    }

  }
}